{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock%}

{% block content %}
<div class="overlay contact-container"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Add a Review</h2>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col">

                <h3 class="text-center mb-3">Let us know what you think...
                </h3>

            </div>
        </div>
        <hr>
        <div class="container mb-2">
            <div class="row">
                <!-- review form -->
                <br>
                {% if user.is_authenticated %}
                <div class="col-lg-12 text-left">
                    <div class="row">
                        <div class="col form-margin">
                            <form action="{% url 'add_review' %}" method="POST">
                                {% csrf_token %}
                                {{ form.title | as_crispy_field}}
                                {{ form.review | as_crispy_field}}
                                <div class="rate">
                                    <input type="radio" name="rating" id="rating5" value="5" required>
                                    <label for="rating5" title="5"></label>
                                    <input type="radio" name="rating" id="rating4" value="4" required>
                                    <label for="rating4" title="4"></label>
                                    <input type="radio" name="rating" id="rating3" value="3" required>
                                    <label for="rating3" title="3"></label>
                                    <input type="radio" name="rating" id="rating2" value="2" required>
                                    <label for="rating2" title="2"></label>
                                    <input type="radio" name="rating" id="rating1" value="1" required>
                                    <label for="rating1" title="1"></label>
                                </div>
                                <br>
                                <input type="submit" value="Submit" class="btn btn-black rounded-pill">
                            </form>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="col-lg-12 pt-5 pb-5">
                    <div class="text-center">
                        <div class="row">
                            <h4 class="pb-5 m-auto">Sorry, only registered users can add a review.</h4>
                        </div>
                        <div>
                            <a class="btn btn-black btn-lg rounded-pill" href="{% url 'account_signup' %}"
                                role="button">Sign Up</a>
                            <a class="btn btn-outline-black btn-lg rounded-pill" href="{% url 'account_login' %}"
                                role="button">Login</a>
                        </div>
                    </div>
                </div>

                {% endif %}
            </div>
        </div>
    </div>
    {% endblock %}

    {% block postloadjs %}
    {{ block.super. }}

    {% endblock %}