{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="overlay contact-container"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Contact Us</h2>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col">

                <h3 class="text-center mb-3">Send us a message...
                </h3>

            </div>
        </div>
        <hr>
        <div class="container mb-2">
            <div class="row">
                <!-- Contact form -->
                <br>
                <div class="col-lg-6 contact-form text-left">
                    <div class="row">
                        <div class="col form-margin">
                            <form action="{% url 'contact' %}" method="POST">
                                {% csrf_token %}
                                {% for field in form %}
                                {{ field | as_crispy_field}}
                                {% endfor %}
                                <input type="submit" value="Submit" class="btn btn-black rounded-pill">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 text-left">
                    <p>
                        <i class="fas fa-map-marker-alt">
                        </i> Newport, United Kingdom
                    </p>
                    <p>
                        <i class="fas fa-phone">
                        </i> 01633 222 222
                    </p>
                    <p>
                        <i class="fas fa-envelope">
                        </i> contact@getducked.com
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}