{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock%}

{% block content %}
<div class="container h-100 mt-2">
    <div class="row h-100">
        <div class="col my-auto">
            <h2 class="display-4 logo-font text-black">
                Get totally <strong>ducked-up</strong> with our extensive range of rubber ducks!
            </h2>
            <div class="my-5">
                <h4>
                    <a href="{% url 'products' %}"
                        class="explore-now-button btn btn-lg rounded-pill text-uppercase py-3">Take me on a duck
                        hunt</a>
                </h4>
            </div>
        </div>
    </div>
    {% endblock %}