{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock%}

{% block content %}
<div class="container h-100 mt-2">
    <div class="row h-100">
        <div class="col my-auto">
            <h2 class="display-4 logo-font text-black text-center">
                Get totally <strong>ducked-up</strong> with our extensive range of rubber ducks!
            </h2>
            <div class="my-5 text-center">

                <a href="{% url 'products' %}" class="btn btn-black btn-lg rounded-pill text-uppercase py-3">
                    Take me on a duck hunt</a>
                <a href="{% url 'all_reviews' %}"
                    class="explore-now-button btn btn-outline-black btn-lg rounded-pill text-uppercase py-3">
                    See our customer reviews</a>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card rounded-5 home-page-card mb-2" style="width: 18rem;">
                <a href="{% url 'products' %}?category=individual_ducks,multipack_ducks,new_arrivals,clearance">
                    <div class="card-body">
                        <h3 class="card-title text-black h5 text-uppercase text-center">View our Rubber Ducks</h3>
                    </div>
                    <img src="https://get-ducked.s3.eu-west-2.amazonaws.com/media/astro_duck.png" class="card-img-top"
                        alt="">
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card home-page-card mb-2" style="width: 18rem;">
                <a href="{% url 'products' %}?category=jewellery">
                    <div class="card-body">
                        <h3 class="card-title text-black h5 text-uppercase text-center">View our Jewellery</h3>
                    </div>
                    <img src="https://get-ducked.s3.eu-west-2.amazonaws.com/media/sparkle_duck_studs.png"
                        class="card-img-top" alt="">
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card home-page-card mb-2" style="width: 18rem;">
                <a href="{% url 'products' %}?category=new_arrivals">
                    <div class="card-body">
                        <h3 class="card-title text-black h5 text-uppercase text-center">View our New Arrivals</h3>
                    </div>
                    <img src="https://get-ducked.s3.eu-west-2.amazonaws.com/media/dj_duck.png" class="card-img-top"
                        alt="">
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}