@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

html {
    height: 100%;
}

body {
    background: url('/media/background2.webp') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh-164px);
    color: black;
    font-family: 'Dosis', sans-serif;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;

}

.nav-link:visited {
    color: black !important;
}

.navbar-toggler {
    font-size: 80%;
    padding: 0.75rem;
    color: black !important;
}

.nav-link:hover,
.nav-link:focus,
a.text-primary:focus,
a.text-primary:hover {
    color: #ffc107 !important;
    transition: ease .3s;
}

.logo-font {
    text-transform: uppercase;
}

.logo {
    font-size: 2rem;
}

.main-logo-link {
    width: fit-content;
}

#main-nav {
    font-size: 1.3rem;
}

.nav-container {
    background-color: #ff1c19;
}

.search {
    background-color: #ff1c19;
}

.delivery-banner {
    color: antiquewhite;

}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #ffc107;
    color: black;
}

.btn-black {
    background: black;
    color: #ffc107;
}

.btn-outline-black {
    background: #ffc107;
    color: black !important;
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: #ffc107 !important;
}

.explore-now-button:hover,
.explore-now-button:active,
.explore-now-button:focus {
    background: black;
    color: #ffc107;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

.rating {
    font-size: 16px;
}

.rating i {
    color: #dc8d28
}

a.category-badge>span.badge:hover {
    background: black !important;
    color: #ffc107 !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.remove-link,
.update-link {
    cursor: pointer;
}

table {
    background-color: white;
}

.error-text {
    font-weight: 500;
}

.error-p {
    font-size: 1.5rem;
}

.page-container {
    position: relative;
    min-height: 100vh
}

.content-wrap {
    padding-bottom: 2.5rem;
}

.home-page-card {
    min-height: 424px;
    margin: auto;
}

.contact-container {
    background: url(https://get-ducked.s3.eu-west-2.amazonaws.com/media/bubble-duck.webp) no-repeat center center;
    background-size: cover;
    height: calc(100vh-164px);
}

#sort-selector {
    min-width: 145px;
}

.wishlist {
    color: #dc2b28;
}

/** -------------------------------------------- Star Rating System */

.rate>input {
    display: none;
}

.rate {
    display: inline-block;
    border: 0;
}

.rate>label {
    float: right;
}

/* Showing the stars*/
.rate>label:before {
    display: inline-block;
    font-size: 1.5rem;
    content: "\f005";
    font-family: FontAwesome;
    margin: 0;
    padding: 0.3rem .2rem;
    cursor: pointer;
}

/* click and hover*/
input:checked~label,
label:hover~label {
    color: #ffb503;
}

/* hover highlight */
input:checked+label:hover,
input:checked~label:hover,
input:checked~label:hover~label,
label:hover~input:checked~label {
    color: #cc9000;
}

.footer-links {
    list-style-type: none;
    color: black !important;
}

/** ----------------------------------------------------- Mailchimp */
#mc_embed_signup {
    /* background: #fff; */
    clear: left;
    max-width: 500px;
}

.indicates-required {
    font-size: 14px !important;
    font-weight: bold;
}

.asterisk {
    font-size: 24px !important;
}

/** from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/** ------------------------ Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/** ---------------------------------------------Reviews */

.review-title {
    font-size: 1.5rem;
    background-color: #ffc107;
}

/** ---------------------------------------------Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    color: #6c757d;
}

.allauth-form-inner-content-input {
    border-color: black;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #ffc107;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;

    /** -------------------------------standard bootstrap btn transitions */
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: black;
    background-color: #ffc107;
    border-color: #ffc107;
}

/** -------------------------------------------------------------TOASTS */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
    display: block;
    opacity: 1;
}

.toast-capper {
    height: 2px;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/**--------------------------------------------------------PRODUCT FORM */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/** -----------------------------------------------------------MEDIA QUERIES */

@media screen and (max-width: 500px) {
    p.mb-nav-hide {
        visibility: hidden;
    }
}

/** Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/** fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/** pad the top when navbar is collapsed on mobile */

@media (max-width:991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    .btn.btn-outline-black.rounded-pill,
    .btn.btn-black.rounded-pill {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-pill.btn-lg,
    .btn.btn-black.rounded-pill.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty,
    .decrement-qty {
        padding: 0.25rem .5rem !important;
    }
}